@font-face {
    font-family: "Glyphter";
    src: url(./fonts/Glyphter.ttf)
  }


body{
    background-color: black;
   
    margin: px;
}
.navbar{
    padding-left: 10%;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
}

#idam{
    position: relative;
    left: 700px;
    bottom: 80px;
}

header{
    color: rgb(22, 22, 22);
}

.projects{
    padding-top: 250px;
}
.pad{
    padding-left: 3rem;
}

.title{
    font-size: 100px;
    display: inline;
}

.SKILLS{
    font-size: 1.9rem;

    padding-top: 250px;
}

.img{
    width: 100px;
    height: 100px;
}
.aa{
    display:block;
    padding-bottom: 559px;
    text-decoration: none;
    font-size: 20px;

}
.asa{
    text-decoration: none;
}

.subtitle{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 220px;
}



.foto{
    position: absolute;
    top: 35px;
    right: 30px;
    height: 750px;
    width: 750px;
}

.ptit{
    font-size: 4.5rem;

}


.txt{
    font-size: 1.5rem;

}

.img{	
    height: 350px;
    width: 350px;
}


.aboutme{
    justify-content: center;
    text-align: left;
}


#wc{
    width: 850px;
    height:480px;
}

#wch{
    width: 850px;
    height:480px;
}

.ltit{
    font-size: 2.9rem;
    text-decoration: none;
}



.ak{
  font-family: Glyphter, monospace;
  text-decoration: none;
  font-size: 32px;
  display: inline;
  
}

.caca{
  
  padding-left: 75%px;
}

.aka{
  display: inline-block;
  float: left;
  margin: 0px;

}

#footero{
    float: right;
  
}

*{
    color: white;
    font-family: JetBrainsMono, monospace;
   
}


